{% extends "auctions/layout.html" %}
{% load custom_filters %}

{% block body %}
  <h2>My Bids</h2>
  <ul class="list-group">
    {% for bid in bids %}
    <a href="{% url 'listing' bid.listing.id %}">
      <li class="list-group-item d-flex justify-content-between align-items-center mb-1">
        {{ bid.listing.title }} - ${{ bid.bid_amount }}
        {% with winner=winners|get_item:bid.listing.id %}
          {% if winner %}
            <span class="badge badge-primary badge-pill">{{ winner.username }}</span>
            {% endif %}
        {% endwith %}
        </li>
    </a>
    {% empty %}
      <li class="list-group-item">No bids yet.</li>
    {% endfor %}
  </ul>
{% endblock %}
